/* global */
h1 {
    text-align: center;
    font-size: 70px;
    color: lightblue;
	font-family: Tahoma,Verdana,Segoe,sans-serif; 
    margin:0px;
    padding-bottom: 10px;
    padding-top: 30px;
    /* outline text */
    text-shadow:
    -1px -1px 0 #666,
    1px -1px 0 #666,
    -1px 1px 0 #666,
    1px 1px 0 #666; 
}
h2{
    color:#666;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: medium;
    color: #666;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}
.bg {
    width: 1200px;
    height: auto;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 10px;
    background-color: #f3f3f3;
    border: 2px solid #e7e7e7;
}
html {
    background-image: url("img/bg.jpg");
    background-repeat: repeat;
}
/* images */
.img {
    padding: 5px;
    width: 500px;
    height:300px;
}

/* container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border: 2px solid #e7e7e7;
    width: 1000px;
    margin: auto;
    margin-bottom: 30px;
}
.container > div {
    padding: 20px;
    justify-content: center;
    align-items: center;
}
/* Responsive layout- makes a one column-layout*/
@media (max-width: 500px) {
    .container {
      flex-direction: column;
    }
}
/* navbar */
.navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: #f3f3f3;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    font-family: Tahoma,Verdana,Segoe,sans-serif; 
    font-size: large;
    border-bottom: 2px solid #e7e7e7;
}
li {
    float: right;
    border-left: 2px solid #e7e7e7;
}
li:first-child {
    float: left;
    border-right: 2px solid #e7e7e7;
}
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
li a:hover:not(.active) {
    background-color: #ddd;
}
li a.active {
    color: white;
    background-color: lightblue;
}

/* Home content */
.main {
    max-width: 1000px;
    margin: auto;
} 
.row {
    margin: 8px -16px;
}
/* Add padding between each column */
.row,
.row > .column {
    padding: 8px;
}
/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}
/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
} 
/* Content */
.content {
    background-color: lightblue;
    border: 2px solid #e7e7e7;
    padding: 10px;
}
/* Responsive layout - makes a two column-layout*/
@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
}
/* Responsive layout - makes the two columns stack on top of each other*/
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}
* {
    box-sizing: border-box;
}