h1 {
    text-align: center;
    font-size: 70px;
    color: khaki;
	font-family: Tahoma,Verdana,Segoe,sans-serif; 
    margin:0px;
}
p {
    margin-top: 0px;
    margin-bottom: 1px;
    line-height: 1.4;
}
body {
    margin: 0;
}
html {
    background-color: honeydew;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
}

/* images */
.img {
    padding: 10px;
    padding-top: 18px;
    width: 500px;
    height:300px;
}

/* container */
.container {
    display: flex;
    justify-content: flex-start;
    background-color: #6564DB;
    width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 5px 5px;
}
.container > div {
    padding: 15px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

/* nav bar */
.navbar {
    list-style-type: none;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
}

li {
    float: left;
}
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
li a:hover:not(.active) {
    background-color: #ddd;
}
li a.active {
    color: white;
    background-color: lightblue;
}
div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    ul.sidenav li a {
      float: left;
      padding: 15px;
    }
    div.content {margin-left: 0;}
}
  
@media screen and (max-width: 400px) {
    ul.sidenav li a {
      text-align: center;
      float: none;
    }
}
